body{
  background: #102f41;
}
.field {
  padding: 10px;
  margin: auto;
  display: inline-block;
  width: 1050px;
}

.card-holder {
  width: 130px;
  height: 190px;
  background: white;
  opacity: 0.05;
  margin: 10px;
  display: inline-block;
}

.pile {
  margin-top: 100px;
  float: left;
}

.home {
  float: right;
}

.card {
  width: 130px;
  height: 190px;
  position: absolute;
  background-image: url(../img/cards/back.png);

  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}

.js-moving {
  opacity: 0.6;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  transition: all 0.1s;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.js-closed img {
  display: none;
}